<% def link_to(name, url)
  return "<a href='#{url}'>#{name}</a>"
  end
  %>

<html>
  <body>
    <ul >
      <li style="display: inline;"><a href='me.html'>Me</a></li>
      <li style="display: inline;"> | </li>
      <li style="display: inline;"><a href='http://google.com'>Google</a></li>
      <li style="display: inline;"> | </li>
      <li style="display: inline;"><%= link_to('Bing', 'http://bing.com') %></li>
      <li style="display: inline;"> | </li>
      <li style="display: inline;"><%= link_to('Yahoo!', 'http://yahoo.com') %></li>
    </ul>

    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <p>Put things in the footer</p>
    </div>
  </body>
</html>