<div style="border: 2px solid black;">
<h1> Chancethegreat </h1>

<h3> This is a page about me and my accomplishments </h3>
</div>
<div style"margin-top: 10px;>
<h3>Here are some of my favorite achievements</h3>
<ul>
<% ['Playing NCAA Basketball', 'Meeting amazing people from all over the world', 'Staying somewhat true to my values'].each do |a| %>
<li> <%= a %></li>
<% end %>
</ul>


